<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="bootstrap.min.css" rel="stylesheet"> -->
    <!-- <script src="bootstrap.bundle.js"></script> -->
</head>

<body>
    <div class="container " style=" height: 50px;">
        <div class=""
            style="border-radius: 10px; border: 1px solid black; text-align: center; font-size: 25px;padding: 10px;">
            <div class="p-1">
                خدمات صوت و تصویر

            </div>

            <div class="p-1">
                بهروز الکترونیک

            </div>


        </div>
        <!-- کادر دوم -->
        <div class=" row text-center border  border-1 border-black container pv p-1"
            style="border-radius: 10px;margin-top: 2px;">

            <div class="col"
                style="flex:auto;font-size: 20px; border: 1px solid black; border-radius: 10px; padding: 20px;">
                شماره قبض پذیرش :&nbsp;&nbsp; {{id}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                تاریخ پذیرش :&nbsp;&nbsp; {{tarikh}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;

                نام سیستم : &nbsp;&nbsp; {{system_name}}
                <br>
                <br>

                <div>
                    <b>قبض پذیرش استانداد تعمیگاه</b>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    ساعت پذیرش :&nbsp;&nbsp; {{date}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    نوع :&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{typee}}
                    <br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<b>سرویس داخلی موسسه</b>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    {% if garanti=="بلی" %}
                     کالا({{modat}})ماه گارانتی دارد&nbsp;&nbsp;&nbsp;
                    {% else %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    مدل :&nbsp;&nbsp;&nbsp;&nbsp; {{model}}
                </div>
                <br>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    صاحب دستگاه : {{name_input}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    شماره سریال : {{seriyal}}
                </div>


            </div>

        </div>
        <!-- کادر تماس -->
        <div style="border-radius: 10px;border: 1px solid black;font-size: 18px;margin-top: 2px;margin-bottom: 2px;">
            <div style="border-radius: 10px ; margin: 15px;">
                <div class="col-6">
                    شماره تماس : {{tel}}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    آدرس : {{addres}}
                </div>
            </div>

            <div class="row" style="margin: 15px">

                <div class="col-3">
                    استان : خراسان رضوی
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    شهرستان : سبزوار
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    نوع پذیرش : حضوری
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    نوع تحویل : حضوری
                </div>
            </div>
        </div>
        <!-- کادر عیب -->
        {% if garanti=="بلی" %}
        <div style="border: 1px solid black;border-radius: 10px;padding: 15px;display: flex;flex-wrap: nowrap;align-content: stretch;justify-content: flex-start;">
            <div style="border: 1px solid black;width: 200px;border-radius: 10px;padding: 10px;">
                عیب به اظهار مشتری :
                <b style="position: absolute;font-size: 20px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    لطفا به نکات زیر توجه فرماید</b>
                <br>
                <br>
                <span style="position: absolute;margin: 1px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    _ ارئه این رسید به هنگام مذاجعه و تحویل دستگاه ضروری است
                </span>
                <span style="position: absolute;margin: 1px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;

                    _ مدت اعتبار این قبض دو ماه میباشد . بعد از انقضا
                </span>
                <br>
                <span style="position: absolute;margin: 1px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    _ارئه کننده این رسیر به به عنوان صاحب دستگاه شناخته میشود
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    این شرکت هیچ گونه مسئولیتی در قبال دستگاه ندارد
                </span>
                <br>
                <span style="position: absolute;margin: 1px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    _ رسید های فاقد مهر و امزا از درج اعتبار خارج است
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;
                    _ در صورت عدم وجود قطعات یدکی این شرکت هیچگونه
                </span>
                <br>
                <span style="position: absolute;margin: 1px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    _ لطفا قبل از اقدام به تحویل دستگاه از امده بودن و هزینه
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    مسئولیتی در قبال دستگاه ندارد
                </span>
                <br>
                <span style="position: absolute;margin: 1px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    تعمیر آن تلفنی اطلاع حاصل کنید
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <b>امضاع پذیرش [ مهرموسسه ]</b>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <b>امضا مشتری</b>
                </span>
                {{moshkel}}
            </div>
        </div>
        {% else %}
    
        <div style="border: 1px solid black;border-radius: 10px;padding: 15px;display: flex;flex-wrap: nowrap;align-content: stretch;justify-content: flex-start;">
            <div style="border: 1px solid black;width: 200px;border-radius: 10px;padding: 10px;">
                عیب به اظهار مشتری :
                <b style="position: absolute;font-size: 20px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    لطفا به نکات زیر توجه فرماید</b>
                <br>
                <br>
                <span style="position: absolute;margin-top: 8px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    _ ارئه این رسید به هنگام مذاجعه و تحویل دستگاه ضروری است
                </span>
                <span style="position: absolute;margin-top: 8px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;

                    _ مدت اعتبار این قبض دو ماه میباشد . بعد از انقضا
                </span>
                <br>
                <span style="position: absolute;margin-top: 8px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    _ارئه کننده این رسیر به به عنوان صاحب دستگاه شناخته میشود
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    این شرکت هیچ گونه مسئولیتی در قبال دستگاه ندارد
                </span>
                <br>
                <span style="position: absolute;margin-top: 8px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    _ رسید های فاقد مهر و امزا از درج اعتبار خارج است
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;
                    _ در صورت عدم وجود قطعات یدکی این شرکت هیچگونه
                </span>
                <br>
                <span style="position: absolute;margin-top: 8px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    _ لطفا قبل از اقدام به تحویل دستگاه از امده بودن و هزینه
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    مسئولیتی در قبال دستگاه ندارد
                </span>
                <br>
                <span style="position: absolute;margin-top: 8px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    تعمیر آن تلفنی اطلاع حاصل کنید
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <b>امضاع پذیرش [ مهرموسسه ]</b>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <b>امضا مشتری</b>
                </span>
                {{moshkel}}
            </div>
        </div>
        {% endif %} 
        <div class="row m-4">
            <!-- تماس و آدرس -->
            <div class="col-6">
                &nbsp;&nbsp;&nbsp;&nbsp;
                سبزوار . بلوار شهید چمران(چهل متری اول) نبش چمران28 ,پلاک 373
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                شماره های تماس . 44293955(5 خط)
            </div>
        </div>
    </div>
</body>

</html>